name: Test
on:
  pull_request:
    types: [opened, synchronize]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v3
        with:
          enable-cache: true
          # Keep in sync with pyproject.toml's `tool.uv.required-version`.
          version: "0.9.18"
      # Keep in sync with pyproject.toml's `project.requires-python`.
      - run: uv python install 3.11
      - run: uv sync --locked
      - run: uv run -m skeleton
      - run: uv run ruff format --check
      - run: uv run ruff check
      - run: uv run ty check
      - run: uv run pytest
